<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shops</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="jq.js"></script>
</head>
<body>
<h1>Shopping Cart</h1>
<ul>
    <div th:each="cart : ${carts}">
        <div th:each="item : ${cart.getCart()}">
            <span th:text="${item.key}"></span>
            <span th:text="${item.value}"></span>
            <span th:text="${cart.getId()}"></span>
        </div>
    </div>
</ul>

<h1>Shops</h1>
<ul>
    <li th:each="shop : ${shops}">
        <a th:text="${shop.getName()}" th:href="'/shops/'+ ${shop.getId()}"></a>
    </li>
</ul>
<form action="#" th:action="@{/shops}" th:object="${shop}" method="post">
    <label>Name</label><input type="text" th:field="*{name}" /><br/>
    <h2>Select Tags</h2>
    <select th:field="*{id}" class="form-control" id="categories" name="categories" multiple="multiple">
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getName()}"></option>
    </select>
    <input type="submit" value="Create new shop"/>
</form>

</body>
</html>
