<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shops</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="jq.js"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="common/navbar :: common-navbar" />
<h1>Shops</h1>
<ul>
    <li th:each="shop : ${shops}">
        <a th:text="${shop.getName()}" th:href="'/shops/'+ ${shop.getId()}"></a>
    </li>
</ul>

<a class="btn btn-primary" href="/shops/new"> New Shop </a>


<h1>Shopping Cart</h1>
<ul>
    <li th:each="item : ${cartItemName}">
        <a th:text="${item.key}"></a>
        <a th:text="${item.value}"></a>
    </li>

</ul>
<form action="#" th:action="@{/checkout}" method="post">
    <input type="submit" value="Checkout"/>
</form>

</body>
</html>
