<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Shop</title>
</head>
<body>

<h1 th:text="${shop.getName()}"></h1>

<form action="#" th:action="@{/shops/{id}/newProd(id = ${shop.getId()})}" th:object="${product}" method="post">
    <label>Name</label><input type="text" th:field="*{name}"/><br/>
    <label>Description</label><input type="text" th:field="*{description}"/><br/>
    <label>Inventory</label><input type="number" th:field="*{inventory}"/><br/>
    <input type="submit" value="Create new product"/>
</form>

<h2>Product List</h2>
<ul>
    <li th:each="product : ${shop.products}" >
        <a th:text="${product.getName()}"  th:href="'/shops/'+ ${shop.getId()} + '/products/' + ${product.getId()}"></a>
    </li>
</ul>

<h2>Category List</h2>
<ul>
    <li th:each="category : ${shop.categories}" th:text="${category.getName()}"></li>
</ul>


</body>
</html>
