<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Shop</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="common/navbar :: common-navbar" />
<h1 th:text="${shop.getName()}"></h1>

<a class="btn btn-primary" th:href="'/shops/'+ ${shop.getId()} + '/products/new'">Create new Product</a>


<h2>Product List</h2>
<ul>
    <li th:each="product : ${shop.products}" >
        <a th:text="${product.getName()}"  th:href="'/shops/'+ ${shop.getId()} + '/products/' + ${product.getId()}"></a>
    </li>
</ul>

<h2>Category List</h2>
<ul>
    <li th:each="category : ${shop.categories}">
        <a th:text="${category.getName()}" th:href="'/categories/'+ ${category.getId()}"></a>
    </li>
</ul>


</body>
</html>
